.hidden {
  display: none;
}
html {
  margin: 0%;
}

body {
  margin: 0%;
  height: 96.9vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.centerdown {
  position: absolute;
  top: 90%;
  right: 19%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 3%;
}

a {
  font-weight: bold;
  font-size: 1em;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

.rightup {
  position: absolute;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 12%;
  height: 3%;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

#login {
  position: absolute;
  top: 15%;
  left: 45%;
  width: 18%;
  height: 35%;
}

input::placeholder {
  color: white;
  font-weight: bold;
}

input {
  width: 200px;
  height: 30px;
  font-size: 30px;
}

#loginUserName {
  position: absolute;
  top: 4%;
  left: 90%;
  color: white;
}

#todos {
  position: absolute;
  top: 30%;
  right: 86%;
}

#todolist {
  position: absolute;
  top: 33%;
  right: 90%;
  font-size: 2em;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

#clock {
  position: absolute;
  top: 25%;
  right: 45%;
  color: white;
}

#goodword {
  position: absolute;
  top: 38%;
  right: 25%;
  color: white;
}
